html,
body {
    -webkit-app-region: drag;
    font-family: 'Bungee Hairline', cursive;
}

h1 {
  text-align: center;
}

.button {
  min-width: 150px;
  max-width: 150px;
  height: 150px;
  /* border-radius: 25px; */
  margin: 5px 2.5px 5px;
  transition: all 0.2s ease-in-out
}

.button h1 {
  font-size: 20px;
  font-weight: bolder;
}

.button p {
  text-align: center;
  font-size: 24px;
}

.row {
  display: flex;
  margin: auto;
  width: 45%;
}

.control {
  margin:auto;
}

#footer-text {
  font-size: 45px;
  text-align: center;
}
